@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --cl-bg1: #011627;
  --cl-bg2: #011221;
  --cl-grey: #607b96;
  --cl-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  
}

body {
  background-color: var(--cl-bg1);
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cl-bg1);
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid var(--cl-bg2);
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--cl-grey);
  transition: color 0.3s ease;
}

header p {
  margin-left: 15px;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

header a {
  text-decoration: none;
  color: var(--cl-grey);
  padding-right: 50px;
  transition: color 0.2s ease;
  cursor: pointer;
}

header a:hover {
  color: var(--cl-white);
}

.active-link {
  color: var(--cl-white);
  transition: color 0.2s ease;
}


body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: var(--cl-white);
}

h2 {
  font-size: 24px;
  color: var(--cl-grey);
  margin-bottom: 10px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; /* Centrer horizontalement */
  margin-top: 50px;
}

.tableau {
  display: flex;
  justify-content: center;
}

.table {
  width: 60%; /* Réduit la largeur du tableau */
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  background-color: var(--cl-bg2);  
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
}

.table .header {
  background-color: var(--cl-grey);
  color: var(--cl-white);
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.table th {
  padding: 10px;
  color: var(--cl-grey);
  font-weight: 700;
  font-size: 20px;
}

.table .na {
  background-color: #f8cbad;
  text-align: center;
  border-radius: 10px 0 0 0;
}

.table .eca {
  background-color: #ffe699;
  text-align: center;
}

.table .a {
  background-color: #c6e0b4;
  text-align: center;
  border-radius: 0 10px 0 0;
}

.table td {
  padding: 10px;
  border: 1px solid var(--cl-bg1);
  vertical-align: top;
  background-color: var(--cl-bg2);
  color: var(--cl-grey);
}

.table ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: none;
  
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}

.image {
  display: flex;
  justify-content: center;
  
}

p {
  color: var(--cl-white);
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

#imgFigma {
  width: 50%; 
}

#git {
  width: 15%;
}

#test {
  width: 15%;
}

#rgpd {
  width: 30%;
  height:15%; 
}

#pdo {
  width: 15%;
}

#mongodb {
  width: 15%;
}

#droit {
  width: 15%;
}

#si3 {
  width: 40%;
}

#rappel, #calendrier {
  width: 10%;
}

#duolingo {
  width: 10%;
}

#netflix, #canal{
  width: 10%;
  height: 10%;
}

#passculture {
  width: 20%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Texte */
#siteFooter p {
  margin: 0;
  font-size: 14px;
}

/* Liens */
.footer-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-links a {
  color: var(--cl-grey);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: var(--cl-white);
}

/* Icônes */
.footer-links i {
  font-size: 20px;
}