@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --cl-bg1: #011627;
  --cl-bg2: #011221;
  --cl-grey: #607b96;
  --cl-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
}

body {
  background-color: var(--cl-bg1);
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cl-bg1);
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid var(--cl-bg2);
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--cl-grey);
  transition: color 0.3s ease;
}

header p {
  margin-left: 15px;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

header a {
  text-decoration: none;
  color: var(--cl-grey);
  padding-right: 50px;
  transition: color 0.2s ease;
  cursor: pointer;
}

header a:hover {
  color: var(--cl-white);
}

.active-link {
  color: var(--cl-white);
  transition: color 0.2s ease;
}

#aproposCible {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 150px;
  margin: 150px auto 0;
  max-width: 80%;
}

#aproposCible img {
  width: 20%;
  border-radius: 10%;
  align-self: flex-start;
}

#aproposCible h2 {
  color: var(--cl-white);
  font-size: 80px;
  text-align: center;
}

#aproposCible p {
  color: var(--cl-white);
  font-size: 20px;
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/* Section des compétences */
#competences {
  margin: 50px auto;
  padding: 40px 10%;
  text-align: center;
  background-color: var(--cl-bg1);
  color: var(--cl-white);
  border-radius: 15px;
}

#competences h3 {
  font-size: 36px;
  margin-bottom: 50px;
}

/* Conteneur des compétences */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

/* Carte de compétence */
.skill-item {
  background-color: var(--cl-bg2);
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* Icônes */
.skill-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--cl-grey);
  transition: color 0.3s ease, transform 0.3s ease;
}

.skill-item:hover .skill-icon {
  color: var(--cl-white);
  transform: rotate(15deg);
}

/* Titres des compétences */
.skill-item h4 {
  font-size: 20px;
  color: var(--cl-white);
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Texte des compétences */
.skill-item p {
  font-size: 14px;
  color: var(--cl-grey);
  line-height: 1.6;
}






.timeline-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 150px;
  max-width: 90%;
  overflow: hidden;
  text-align: center;
}

.timeline-horizontal h3 {
  width: 100%;
  font-size: 28px;
  color: var(--cl-white);
  margin-bottom: 50px;
}

.timeline-horizontal::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: var(--cl-grey);
  z-index: 1;
}

.timeline-bubble {
  position: relative;
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: var(--cl-bg2);
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.date {
  display: block;
  font-size: 14px;
  color: var(--cl-grey);
  margin-bottom: 8px;
  font-weight: bold;
  text-align: center;
  background-color: var(--cl-bg1);
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto 8px;
}



.bubble-content h4 {
  color: var(--cl-white);
  font-size: 18px;
  margin-bottom: 10px;
}

.bubble-content p {
  font-size: 14px;
  color: var(--cl-grey);
  margin: 5px 0;
}

.svg-separator1 {
  width: 100%;
  overflow: hidden;
  background-color: var(--cl-bg2);
}

.svg-separator1 svg {
  display: block;
  width: 100%;
  height: auto;
}

.svg-separator2 {
  width: 100%;
  overflow: hidden;
  background-color: var(--cl-bg1);
}

.svg-separator2 svg {
  display: block;
  width: 100%;
  height: auto;
}

#projetsCible {
  background-color: var(--cl-bg2);
  padding: 50px 10%;
  color: var(--cl-white);
  text-align: center;
  margin-top: -60px;
}

#projetsCible h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.project-card {
  background-color: var(--cl-bg1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.project-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover .project-image {
  transform: rotate(-3deg) scale(1.03); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.project-card h3 {
  font-size: 24px;
  color: var(--cl-white);
  margin: 10px 0;
}

.project-card p {
  color: var(--cl-grey);
  margin: 15px 0;
  text-align: center;
}

.project-link {
  color: var(--cl-white);
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s ease;
}

.project-link:hover {
  color: var(--cl-grey);
}

.project-link i {
  margin-right: 8px;
  font-size: 18px;
}


#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}


#lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease; 
}

#lightbox:hover #lightbox-img {
  transform: scale(1.05);
}

#contactCible {
  background-color: var(--cl-bg1);
  padding: 50px;
  text-align: center;
  color: var(--cl-white);
}

#contactCible h3 {
  font-size: 36px;
  margin-bottom: 50px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.contact-card {
  background-color: var(--cl-bg2);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-icon {
  font-size: 50px;
  color: var(--cl-grey);
  margin-bottom: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-card:hover .contact-icon {
  color: var(--cl-white);
  transform: scale(1.1);
}

.contact-card h4 {
  font-size: 20px;
  color: var(--cl-white);
  margin-bottom: 10px;
}

.contact-card p {
  color: var(--cl-grey);
  font-size: 16px;
  line-height: 1.5;
}

#contactCible a {
  color: var(--cl-grey);
  text-decoration: none;
}


/* Footer */
#siteFooter {
  background-color: var(--cl-bg1);
  color: var(--cl-grey);
  padding: 20px 10%;
  text-align: center;
  border-top: 3px solid var(--cl-bg2);
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Texte */
#siteFooter p {
  margin: 0;
  font-size: 14px;
}

/* Liens */
.footer-links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-links a {
  color: var(--cl-grey);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: var(--cl-white);
}

/* Icônes */
.footer-links i {
  font-size: 20px;
}




/* Responsive Design */

@media (max-width: 1200px) {
  #aproposCible {
    flex-direction: column;
    gap: 50px;
  }

  #aproposCible img {
    width: 50%;
  }

  #aproposCible h2 {
    font-size: 50px;
  }

  #aproposCible p {
    font-size: 18px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 90%;
  }

  #aproposCible {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #aproposCible img {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  header > div {
    flex-direction: column;
    gap: 10px;
  }

  #aproposCible img {
    width: 70%;
  }

  #aproposCible h2 {
    font-size: 40px;
  }

  .skills-container {
    gap: 20px;
  }

  .timeline-horizontal {
    flex-direction: column;
    gap: 20px;
  }

  .timeline-bubble {
    width: 90%;
  }

  #aproposCible img {
    width: 70%;
    margin: 0 auto;
  }

  .timeline-horizontal {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  #aproposCible h2 {
    font-size: 30px;
  }

  #aproposCible p {
    font-size: 16px;
  }

  header {
    padding: 10px;
    font-size: 16px;
  }

  .header-nav a {
    padding-right: 20px;
    font-size: 80%;
  }

  header p {
    font-size: 80%;
  }

  .project-card {
    width: 100%;
    margin: 10px 0;
  }

  .project-image {
    max-width: 90%;
  }

  #contactCible {
    padding: 30px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  #aproposCible img {
    width: 80%;
    margin: 0 auto;
  }
}





.announcement-banner {
  background-color: var(--cl-bg2);
  color: var(--cl-grey);
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  border-bottom: 3px solid var(--cl-bg1);
}

.spanDate {
  color: var(--cl-white);
}